.header {
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  .text {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: #6aa6d1;
  }
}